{% extends "layouts/home.html" %}
{% set pageTitle = 'categroy' %}
{% set bodyClasses = 'restaurant-list ltr screen-wide header-fixed' %}
{% block content %}
{% include "include/category.html" %}
{% endblock %}
