<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5>Informace</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.vaseasie.cz/info/privacy-policy-for-drivers-12.html" title="Privacy Policy for Drivers">Privacy Policy for Drivers</a></li>
                    <li><a href="https://www.vaseasie.cz/info/obchodni-podminky-5.html" title="Obchodní podmínky">Obchodní podmínky</a></li>
                    <li><a href="https://www.vaseasie.cz/info/cookies-policy-9.html" title="Cookies policy">Cookies policy</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Důležité odkazy</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.vaseasie.cz/contact" title="Kontakt">Kontakt</a></li>
                    <!--li><a href="https://www.vaseasie.cz/restaurant/register" title="Đăng ký Nhà hàng">Đăng ký Nhà hàng</a></li-->
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Profil</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.vaseasie.cz/customer/account" title="Profil">Profil</a></li>
                    <li><a href="https://www.vaseasie.cz/customer/order" title="Objednávky">Objednávky</a></li>
                    <li style="display:none;" ><a href="https://www.vaseasie.cz/customer/wishlist" title="Wish List">Wish List</a></li>
                    <!--li><h4><a href="https://www.vaseasie.cz/customer/newsletter" title="Odběr novinek">Odběr novinek</a></h4></li-->
                </ul>
            </div>

            <div class="col-sm-3">
                <h5>Adresa</h5>
                <ul class="list-unstyled">
                    <li><span>Hanoka s.r.o.
IČO: 06593259.
Olomoucká 61A, 627 00 Brno-Černovice.</span></li>
                    <!-- <li><span>No77,Marudha Nager Main Road,</span></li>
          <li><span>S.V Colony, Vadavalli, Coimbatore,</span></li>
          <li><span>India.</span></li> -->
                </ul>
            </div>

        </div>
        <hr>
        <p>Powered by HANOKA s.r.o - <a href="https://vaseasie.cz"> VašeAsie.cz - Asie až ke dveřím. &copy; 2021</a></p>
    </div>
</footer>
<div id="restaurant-cart-footer" ><div id="restaurant-cart-footer-bar" class="cart-footer open-popup-cart empty">
    <div class="left">
    <span class="shopping-bag-icon">
<svg viewBox="-35 0 512 512.00102" xmlns="http://www.w3.org/2000/svg"><path d="m443.054688 495.171875-38.914063-370.574219c-.816406-7.757812-7.355469-13.648437-15.15625-13.648437h-73.140625v-16.675781c0-51.980469-42.292969-94.273438-94.273438-94.273438-51.984374 0-94.277343 42.292969-94.277343 94.273438v16.675781h-73.140625c-7.800782 0-14.339844 5.890625-15.15625 13.648437l-38.9140628 370.574219c-.4492192 4.292969.9453128 8.578125 3.8320308 11.789063 2.890626 3.207031 7.007813 5.039062 11.324219 5.039062h412.65625c4.320313 0 8.4375-1.832031 11.324219-5.039062 2.894531-3.210938 4.285156-7.496094 3.835938-11.789063zm-285.285157-400.898437c0-35.175782 28.621094-63.796876 63.800781-63.796876 35.175782 0 63.796876 28.621094 63.796876 63.796876v16.675781h-127.597657zm-125.609375 387.25 35.714844-340.097657h59.417969v33.582031c0 8.414063 6.824219 15.238282 15.238281 15.238282s15.238281-6.824219 15.238281-15.238282v-33.582031h127.597657v33.582031c0 8.414063 6.824218 15.238282 15.238281 15.238282 8.414062 0 15.238281-6.824219 15.238281-15.238282v-33.582031h59.417969l35.714843 340.097657zm0 0"/></svg></span>
        <span class="cart-quantity"><span class="cart-quantity-n">0</span>ks</span></div>
    <div class="right"><span class="total-total-n">0</span></div>
    <div class="mid">Zobrazit košík</div>
</div></div>
<div id="cart-alert-status" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Upozornění!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="restaurant-alert-status" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Upozornění!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div><!-- /.modal -->
<div id="temp"></div>