<div id="header-position"></div>
<header>
    <div class="ph-item">
        <div class="ph-picture"></div>
        <div class="col-lg-offset-4 col-lg-12 text-center title-loader">
            <div class="ph-row">
                <!-- <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div> -->
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <!-- <div class="ph-col-2"></div>
                <div class="ph-col-10 empty"></div> -->
            </div>
        </div>
        <div class="col-lg-4 bnr-btm">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ph-avatar"></div>
                </div>
                <div class="col-lg-9 bnr-btm-left">
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 bnr-btm">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ph-avatar"></div>
                </div>
                <div class="col-lg-9 bnr-btm-left">
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 bnr-btm">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ph-avatar"></div>
                </div>
                <div class="col-lg-9 bnr-btm-left">
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 bnr-btm">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ph-avatar"></div>
                </div>
                <div class="col-lg-9 bnr-btm-left">
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 bnr-btm">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ph-avatar"></div>
                </div>
                <div class="col-lg-9 bnr-btm-left">
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 bnr-btm">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ph-avatar"></div>
                </div>
                <div class="col-lg-9 bnr-btm-left">
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-offset-4 col-lg-12 text-center title-loader">
            <div class="ph-row">
                <!--  <div class="ph-col-4"></div>
                 <div class="ph-col-8 empty"></div> -->
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <!-- <div class="ph-col-2"></div>
                <div class="ph-col-10 empty"></div> -->
            </div>
        </div>
        <div class="col-lg-4 bnr-btm">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ph-avatar"></div>
                </div>
                <div class="col-lg-9 bnr-btm-left">
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 bnr-btm">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ph-avatar"></div>
                </div>
                <div class="col-lg-9 bnr-btm-left">
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 bnr-btm">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ph-avatar"></div>
                </div>
                <div class="col-lg-9 bnr-btm-left">
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 bnr-btm">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ph-avatar"></div>
                </div>
                <div class="col-lg-9 bnr-btm-left">
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 bnr-btm">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ph-avatar"></div>
                </div>
                <div class="col-lg-9 bnr-btm-left">
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 bnr-btm">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ph-avatar"></div>
                </div>
                <div class="col-lg-9 bnr-btm-left">
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- HOW IT WORKS -->

        <div class="col-lg-offset-4 col-lg-12 text-center title-loader" >
            <div class="ph-row">
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <!--     <div class="ph-col-2"></div>
                    <div class="ph-col-10 empty"></div> -->
            </div>
        </div>
        <div class="col-lg-3 bnr-btm">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ph-avatar"></div>
                </div>
                <div class="col-lg-12 bnr-btm-left">
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 bnr-btm">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ph-avatar"></div>
                </div>
                <div class="col-lg-12 bnr-btm-left">
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 bnr-btm">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ph-avatar"></div>
                </div>
                <div class="col-lg-12 bnr-btm-left">
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 bnr-btm">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ph-avatar"></div>
                </div>
                <div class="col-lg-12 bnr-btm-left">
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- slider banner -->
        <div class="ph-picture" style="margin: 50px 0"></div>

        <!-- client -->

        <div class="col-lg-offset-3 col-lg-12 bnr-btm" style="padding:0px 0px 50px 0px">
            <div class="row">
                <div class="col-lg-2 client">
                    <div class="ph-avatar"></div>
                </div>
                <div class="col-lg-9 bnr-btm-left">
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                    </div>
                </div>
            </div>
        </div>


        <!-- footer top -->
        <div class="col-lg-4 bnr-btm">
            <div class="row">
                <div class="col-lg-3 footer-top">
                    <div class="ph-avatar"></div>
                </div>
                <div class="col-lg-9 bnr-btm-left">
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 bnr-btm">
            <div class="row">
                <div class="col-lg-3 footer-top">
                    <div class="ph-avatar"></div>
                </div>
                <div class="col-lg-9 bnr-btm-left">
                    <div class="ph-row">
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-2"></div>
                        <div class="ph-col-10 empty"></div>

                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="ph-picture" style="margin: 50px 0 0"></div>

    </div>

    <div class="container clearfix">
        <div class="l">
            <div id="logo">
                <h1>
                    <a href="https://www.vaseasie.cz/"><span class="img"></span></a>
                </h1>
            </div>
            <!--<div id="head-menu">
                <ul>
                    <li><a href="javascript:alert('Coming Soon')" data-placement="bottom" data-toggle="tooltip" title="Rezervovat stůl">Rezervace</a></li>
                    <li><a href="javascript:alert('Coming Soon')" data-placement="bottom" title="Vybrat Jidlo" data-toggle="tooltip">Vybrat Jidlo</a></li>
                    <li><a href="javascript:alert('Coming Soon')" data-placement="bottom" data-toggle="tooltip" title="Recepty">Recepty</a></li>
                </ul>
            </div>-->
        </div>
        <div class="r">
            <div class="reg-login">
                <div id="top-links" class="nav pull-right clearfix">
                    <ul>
                        <!--li><a href="https://www.vaseasie.cz/customer/register">Registrace</a></li-->
                        <li><a href="https://www.vaseasie.cz/customer/login" title="Přihlásit se"><i class="fas fa-user-circle"></i></a></li>

                        <!-- <div id="cart" class="">
                          <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="btn btn-inverse dropdown-toggle" aria-expanded="false">
                            <i class="fas fa-shopping-cart"></i>
                          </button>
                          <ul class="dropdown-menu pull-right">
                            <li>
                            <p class="text-center">Your shopping cart is empty!</p>
                            </li>
                          </ul>
                        </div>   -->
                        <!--li class="language clearfix"><div class="pull-left">
<form action="https://www.vaseasie.cz/index.php?route=common/language/language" method="post" enctype="multipart/form-data" id="language">
<div class="btn-group">
<button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
<img src="image/flags/cz.png" alt="Čeština" title="Čeština">
<span class="hidden-xs hidden-sm hidden-md">Language</span> <i class="fas fa-caret-down"></i></button>
<ul class="dropdown-menu">
<li><a href="cz"><img src="image/flags/cz.png" alt="Čeština" title="Čeština" /> Čeština</a></li>
<li><a href="en"><img src="image/flags/gb.png" alt="English" title="English" /> English</a></li>
</ul>
</div>
<input type="hidden" name="code" value="" />
<input type="hidden" name="redirect" value="https://www.vaseasie.cz/" />
</form>
</div>
</li-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="m">
            <div class="form-address-clone"><div class="input-address-header">&nbsp;</div></div>
            <form id="zone-form" action="https://www.vaseasie.cz/index.php?route=common/home/setArea" method="post" enctype="multipart/form-data" class="form-horizontal zone-form">

                <div class="select-country clearfix ">
                    <p class="msg">Zadejte svoji adresu</p>
                    <button class="close close-icon" type="button"></button>
                    <div class="NewAddress__icon"><svg xmlns="http://www.w3.org/2000/svg"><g stroke-width="2" stroke="#fa4c06" fill="none" fill-rule="evenodd"><path d="M11 28.45C17.675 20.47 21 14.596 21 11c0-5.523-4.477-10-10-10S1 5.477 1 11c0 3.597 3.325 9.47 10 17.45z"></path><circle cx="11" cy="11" r="3"></circle></g></svg>
                    </div>
                    <div class="NewAddress__separator"></div>
                    <div class="select-city padding-right-none">
                        <input type="text" name="address" data-old-value="" value="" placeholder="Adresa" id="input-address" class="form-control input-address-header" data-toggle="popover" data-placement="bottom" data-content="Enter a valid address" />
                        <input type="hidden" name="geo_address" value="" id="input-geo-address" />
                        <input type="hidden" name="latitude" value="" id="input-latitude" />
                        <input type="hidden" name="longitude" value="" id="input-longitude" />
                        <input type="hidden" name="city" value="" id="locality" />
                        <input type="hidden" name="street_number" value="" id="street_number" />
                        <input type="hidden" name="route" value="" id="route" />
                        <input type="hidden" name="postal_code" value="" id="postal_code" />
                        <input type="hidden" name="administrative_area_level_1" value="" id="administrative_area_level_1" />
                        <input type="hidden" name="country" value="" id="country" />
                        <span class="NewAddress__ordering-note">Nyní si objednáváte do</span>
                        <button type="button" class="btn button-address-bar locate">
                            <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" class="icon"><path d="M0 0h48v48h-48z" fill="none"/><path d="M24 16c-4.42 0-8 3.58-8 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zm17.88 6c-.92-8.34-7.54-14.96-15.88-15.88v-4.12h-4v4.12c-8.34.92-14.96 7.54-15.88 15.88h-4.12v4h4.12c.92 8.34 7.54 14.96 15.88 15.88v4.12h4v-4.12c8.34-.92 14.96-7.54 15.88-15.88h4.12v-4h-4.12zm-17.88 16c-7.73 0-14-6.27-14-14s6.27-14 14-14 14 6.27 14 14-6.27 14-14 14z"/></svg></button>
                        <button type="button" class="btn button-address-bar clear"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" class="icon"><g transform="translate(0 .1)"><circle cx="7.5" cy="7.5" r="7.5" fill fill-rule="evenodd" clip-rule="evenodd"></circle><path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.3 4.7l-5.6 5.6M10.3 10.3L4.7 4.7"></path></g></svg></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</header>
