<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://www.vaseasie.cz/index.php?route=restaurant/info&amp;restaurant_id=206" rel="canonical" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" integrity="" crossorigin="anonymous"/>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,600,700" rel="stylesheet" type="text/css" />
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/loader.css" rel="stylesheet">
    <link href="./assets/css/owl.carousel.css" rel="stylesheet">
    <link href="./assets/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="./assets/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="./assets/css/sweetalert.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-2.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/jquery.mousewheel.min.js"></script>
<script src="./assets/js/numeral.min.js"></script>
<script src="./assets/js/common.js"></script>
<script src="./assets/js/bootstrap-select.min.js"></script>
<script src="./assets/js/owl.carousel.min.js"></script>
<script src="./assets/js/sweetalert.min.js"></script>
<script src="./assets/js/jstarbox.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6SAKOb2P0zn1vpIdn-NuiZINDoNEQDHA&libraries=places,geometry&callback=initMap&v=weekly" async></script>
<script>
    const currency = 'Kč';
    let latitude = '',
        longitude = '',
        add2Cart,
        webUrl = 'https://www.vaseasie.cz/',
        restaurant_meta_title = 'VašeAsie.cz - Asie až ke dveřím.',
        page = '';

</script>
<script>
    $(document).ready(function(){
        $('.search-bar .fa-times, .map-block .fa-times').hide();
        $('#map-content').hide();

        $(".sidebar-right-search").click(function(){
            var self = $(this).parent();
            self.addClass("col-sm-6 white-bg col-xs-6");
            self.removeClass("col-sm-3 col-xs-3");
            $(".block-list.sorting").hide();
            $('.search-bar .fa-times').show();
        });

        $(".search-bar .fa-times").click(function(event){
            event.preventDefault();
            var self = $('.sidebar-right-search').parent();
            self.removeClass("col-sm-6 col-xs-6 white-bg");
            self.addClass("col-sm-3 col-xs-3");
            $(".block-list.sorting").show();
            $('.search-bar .fa-times').hide();
        });
        $(".map-click").click(function(){
            var self = $(this).parent();
            self.toggleClass("white-bg");
            $('.map-block .fa-times').toggle();
            $('.restaurant-list-filter, .navbar.navbar-default.sidebar').toggle();
            $('#map-content').toggle();
            $('.select-sort-filter').toggleClass("width-spec");
        });
        $(".map-block .fa-times").click(function(){
            var self = $(this).parent();
            self.removeClass("white-bg");
            $('.map-block .fa-times').hide();
            $('.restaurant-list-filter, .navbar.navbar-default.sidebar').show();
            $('#map-content').hide();

            $('.select-sort-filter').removeClass("width-spec");
        });
    });
</script>

<script type="text/javascript">
    $('.selectpicker').selectpicker({
        iconBase: 'fa',
        tickIcon: 'fa-check'
    });
    $('.load-product').on('click',function (e) {
        e.preventDefault();
        $('.popup .product').addClass('opened');
        $('body').addClass('open-popup-product scroll-up open-popup');
    });
    $('.popup .close').on('click',function () {
        $('body').removeClass('open-popup-product scroll-up open-popup');
        $('.popup .product').removeClass('opened');
    });
</script>

<script type="text/javascript">
    let ajax,
        data_old,
        city = '';
    getrestaurants();
    $('h3.Filter__title').on('click', function () {
        let _this = $(this);
        if (_this.parent().hasClass('disabled') === false) {
            let a = _this.next('.selection').find('input:checked'),
                b = a.parents('.FakeRadio');
            if (a.length < 1) {
                _this.next('.selection').find('.FakeRadio').first().find('input').prop('checked', true).trigger('change')
            } else {

                var c = b.next().find('input');
                if (c.length > 0) {
                    a.prop('checked', false);
                    b.next().find('input').prop('checked', true).trigger('change');
                } else a.prop('checked', false);
            }
            checkGetRestaurants()
        }

    })
    $('.cuisine-check-list').on('click', function() {
        $(".cuisine-check-list").not(this).prop('checked', false);
        checkGetRestaurants()
    });
    var checked_val = "null";
    $('input.input-filter').on('click', function(e) {
        if($(this).val() == checked_val){
            $('input.input-filter[value=null]').prop("checked",true);
            checked_val = "null";
        }else{
            checked_val = $(this).val();
            $('input.input-filter[value=null]').prop("checked",false);
        }
        checkGetRestaurants()
    });

    $('select[name=\'sort\']').on('change', function() {
        getrestaurants();
    });

    $('input[name=\'words\']').on('keyup', function() {
        getrestaurants();
    });

    $('#restaurant-list').delegate('.pagination a', 'click', function(e) {
        e.preventDefault();
        $('#restaurant-list').load(this.href);
    });
    $('input[type=radio][name=deliveryType]').on('change',function() {
        if (this.value == 'pickup') {
            $('body').addClass('restaurant-list-pickup');
            setCookie("deliveryType", 'pickup', 365);

        }
        else {
            $('body').removeClass('restaurant-list-pickup');
            setCookie("deliveryType", 'delivery', 365);
        }
        filterD()
    });
    function getrestaurants(){

        if(latitude && longitude || city)
        {
            if (typeof ajax !== "undefined") {
                ajax.abort();
            }
            let data = $('#list-cuisine input[type=\'checkbox\']:checked, input.input-filter:checked, select[name=\'sort\'], input[name=\'words\']'),
                url = 'index.php?route=restaurant/list/restaurant_list';

            // if(data != data_old) {
            ajax = $.ajax({
                url: url,
                type: 'get',
                data: data,
                dataType: 'html',
                beforeSend: function () {
                    $('.spin-row').append('<div class="col-xs-12 text-center"><i class="fas fa-circle-o-notch fa-spin"></i></div>');
                    // $("body").addClass("loading");
                },
                complete: function () {
                    // $('.spin-row .fa-spin').remove();
                    // $("body").removeClass("loading");
                },
                cache: false,
                success: function (html) {
                    if (html == 1) {
                        // location = 'https://www.vaseasie.cz/';
                    }
                    $('#restaurant-list').html(html);
                    // data_old = data;
                    placeholderTextInput()
                }
            });
            // }
        }

    }
    function checkGetRestaurants(){
        if(!latitude && !longitude && !city)
        {
            openAddressPopup();
        }
        else getrestaurants();
    }
</script>

<script type="text/javascript">
    $(window).scroll(function(){
        var sticky = $('.sticky'),
            scroll = $(window).scrollTop();

        if (scroll >= 100) sticky.addClass('fixed');
        else sticky.removeClass('fixed');
    });
</script>

<script type="text/javascript">
    // setTimeout(function(){
    $('.ph-item').remove();
    // },500);

</script>

<script>
    let placeSearch, autocomplete;
    let geocoder;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initMap() {
        geocoder = new google.maps.Geocoder();
        const input = document.getElementById("input-address");
        const options = {
            componentRestrictions: {country: "cz"},
            fields: ["formatted_address", "geometry", "name"],
            strictBounds: false,
            // types: ["establishment"],
        };
        autocomplete = new google.maps.places.Autocomplete(
            input,
            options
        );
        autocomplete.addListener("place_changed", fillInAddress);

    }

    function fillInAddress() {

        const place = autocomplete.getPlace();
        if (!place.geometry || !place.geometry.location) {
            document.getElementById("input-latitude").value = '';
            document.getElementById("input-longitude").value = '';
            document.getElementById("locality").value = '';
            document.getElementById("input-geo-address").value = '';
            return false;
        } else {
            let lat = place.geometry.location.lat();
            let lng = place.geometry.location.lng();
            document.getElementById("input-latitude").value = lat;
            document.getElementById("input-longitude").value = lng;
            document.getElementById("input-address").value = document.getElementById("input-address").value
                .replace(', Czechia', '')
                .replace(', Česko', '')
                .replace(', Czech', '')
                .replace(', Czech Republic', '');
            document.getElementById("input-geo-address").value = document.getElementById("input-address").value;
            $('#zone-form').trigger('submit');
            /* for (const component in componentForm) {
                document.getElementById(component).value = "";
                document.getElementById(component).disabled = false;
            }
            for (const component of place.address_components) {
                const addressType = component.types[0];

                if (componentForm[addressType]) {
                    const val = component[componentForm[addressType]];
                    document.getElementById(addressType).value = val;
                }
            } */

        }


    }

    function geolocate() {
        $('#input-address').click();
    }

    if (navigator.geolocation) {
        if (document.getElementById("input-latitude").value || document.getElementById("input-longitude").value || document.getElementById("input-geo-address").value) {

        } else {
            getCurrentLocation();
        }
    }

    function getCurrentLocation() {

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function success(position) {
        if(typeof google != 'undefined')
        {
            let lat = position.coords.latitude;
            let lng = position.coords.longitude;
            let latlng = new google.maps.LatLng(lat, lng);
            geocoder.geocode({latLng : latlng}, function (results, status) {
                if (status === "OK") {
                    if (results[1]) {
                        document.getElementById("input-latitude").value = lat;
                        document.getElementById("input-longitude").value = lng;
                        document.getElementById("input-geo-address").value = document.getElementById("input-address").value = results[0].formatted_address;

                    }
                    $('#zone-form').trigger('submit');
                } else {
                    alert("Geocoder failed due to: " + status);
                }
            });
        }
    }

    function error() {
        // alert("Geocoder failed");
    }

    function checkAddressInput() {
        let value = $('#input-address').val(),
            oldValue = $('#input-address').attr('data-old-value');
        if (value) $('#zone-form').addClass('t');
        else $('#zone-form').removeClass('t');
        if(oldValue != value) $('#zone-form').addClass('d');
        else $('#zone-form').removeClass('d');
    }

    let address = $('#input-address').val();
    $(document).ready(function () {
        checkAddressInput();
    });

    function openAddressPopup() {
        let a = $('#zone-form'),
            b = $('header .form-address-clone'),
            pacH,
            offsetR,
            offsetT,
            offsetL,
            aH,
            wW,
            wH,
            aW,
            c;

        function apos(){
            c = a;
            if(b.hasClass('show') === true) c= b;
            offsetR = c.offset().right;
            offsetT = c.position().top;
            offsetL = c.offset().left;
            aH = c.outerHeight();
            wW = $(window).width();
            wH = $(window).height();
            aW = c.outerWidth();

            pacH = (wH-aH)/2;
            if(b.hasClass('show') === false)
            {
                a.css({
                    'left': offsetL,
                    'right': wW-aW-offsetL,
                    'top': offsetT,
                    'position': 'fixed',
                    'width':'auto',
                    'max-width':'none'
                })
            }
            else {
                a.css({
                    'left': offsetL,
                    'right': wW-aW-offsetL,
                    'top': offsetT
                })
            }

        }
        apos();

        $('header .form-address-clone').addClass('show');
        setTimeout(() => {
            $('body').addClass('popup-address');
            $('#input-address').focus();
            $('.pac-container').css({
                'max-height' : pacH,
                'left':offsetL,
                'width':a.outerWidth(),
                'top':a.offset().top
            });
        }, 1);
        $(window).resize(function (){
            if($('body').hasClass('popup-address') === true)
            {
                apos();
                $('.pac-container').css({
                    'max-height' : pacH,
                    'left':offsetL,
                    'width':c.outerWidth(),
                    'top':c.offset().top
                });
            }
        })
    }
    function closeAddressPopup()
    {
        $('body').removeClass('popup-address');
        $('#input-address').focusout();
        $("#zone-form .error").remove();
        add2Cart = '';
        $('.pac-container').css({'max-height' : 'none'});
        setTimeout(() => {
            $("#zone-form").removeAttr("style");
            $('header .form-address-clone').removeClass('show');
        }, 400);
    }
    // $('#zone-form').submit(function () {
    //     if (!$("#input-address").val() || !$("#input-geo-address").val() || !$("#input-latitude").val() || !$("#input-longitude").val()) {
    //         $('#input-address').popover('show');
    //         return false;
    //     }
    // });
    $(document).delegate('#zone-form button.close', 'click', function (event) {
        let a = $(event.target);
        closeAddressPopup();
        if($("#input-geo-address").val() !="" && page !='restaurant/info') window.location.href = '/';
    });
    $(document).delegate('#zone-form', 'submit', function (event) {
        event.preventDefault();
        let a = $(event.target),
            form_c = a.serializeArray();
        if (!$("#input-address").val() || !$("#input-geo-address").val() || !$("#input-latitude").val() || !$("#input-longitude").val()) {
            // $('#input-address').popover('show');
            return false;
        }
        $.ajax({
            url: '/index.php?route=common/home/setArea',
            data:form_c,
            type:'post',
            success:function (json) {
                if (json['latitude']) latitude = json['latitude'];
                if (json['longitude']) longitude = json['longitude'];
                if (json['geo_address']) $('#input-address').attr('data-old-value',json['geo_address']);
                checkAddressInput();
                if (add2Cart) submitCart(add2Cart);
                else {
                    closeAddressPopup();
                    if(page !='restaurant/info') window.location.href='/';
                    else if(webUrl) window.location.href= webUrl;
                }
            }
        })

    });
    $('.button-contact-us-home').on('click', function () {
        location = 'https://www.vaseasie.cz/contact';
    });
    $('#input-address').focusin(function () {
        $('#zone-form').addClass('focus');
    }).focusout(function () {
        if ($('#input-address').val() == '') {
            $('#input-address').val($('#input-address').attr('data-old-value'));
            checkAddressInput();
        }
        $('#zone-form').removeClass('focus');
    });
    $('#input-address').keyup(function () {
        checkAddressInput();
    });
    $('.button-address-bar.clear').click(function () {
        $('#input-address').val('').focus();

        checkAddressInput();
    })
    $('.button-address-bar.locate').click(function () {
        $('#input-address').focus();
        getCurrentLocation()
    })
</script>
<script>
    var owl = $('#slideshow0');
    owl.owlCarousel({
        loop:true,
        margin:0,
        nav:false,
        items:1,
        loop:true,
        autoplay:true,
        autoplayTimeout:5000,
        autoplayHoverPause:true
    })
</script>

<script type="text/javascript">
    $('#cart-total').remove();
    let storeID = 206,
        restaurant_name = 'Pho King';
    restaurant_meta_title = 'Rozvoz jídla z Pho King Brno - VašeAsie.cz - Asie až ke dveřím.';
    $.ajax({
        url: '/index.php?route=restaurant/cart',
        data:{storeID: 206},
        cache:false,
        success:function (data) {
            $('#restaurant-cart-wrap').html(data);
            cart.info();
            cartH();
        }
    });
    $('ul.menu-cart li a').click(function(){
        $('ul.menu-cart li a').removeClass("active");
        $(this).addClass("active");
    });

    $(".click-section").click(function() {
        $(".click-section").removeClass('active');
        $(this).addClass('active');
        var openId = $(this).attr("id").replace("open-",""),
            headerH = $('header').outerHeight(),
            menuMB = $('#cat-menu-mobile.fixed').outerHeight();
        $('.panelClass').hide();
        $('body').removeClass('show-cat-menu')
        $('.flipClass').removeClass('open');
        $("#"+openId).addClass('open').next('.panelClass').show();
        $('html,body').animate({
                scrollTop: $("#"+openId).offset().top-headerH-menuMB},
            'slow');
    });

    $('#search').keyup(function(){
        var text = $(this).val().toLowerCase();
        $('.panelClass').hide();
        $('.panelClass .title').each(function(){
            if($(this).text().toLowerCase().indexOf(""+text+"") != -1 ){
                $(this).closest('.panelClass').show();
            }else{
            }
        });
    });

</script>

<script type="text/javascript">
    $("div.flipClass").click(function() {
        $(this).toggleClass('open');
        $(this).next("div.panelClass").stop().slideToggle("slow");
    });
    $(document).ready(function() {
        $('body').scrollspy({target: '#navfx'})
        $('#fixed-nav button.icon').on('click',function () {
            $('body').toggleClass('show-cat-menu');
            if($('body').hasClass('latest-order-bar') && !$('body').hasClass('cart'))
            {
                let LBH = $('#latest-order-footer').outerHeight()+5;
                $('#fixed-nav button').css('bottom',LBH)
            }
            else $('#fixed-nav button').css('bottom','')

        })
    })
</script>

<script type="text/javascript">
    if(window.innerWidth > 767)
    {
        $("div.panelClass").show();
        $("div.panelClass").prev('div').addClass('open');
    }
    else
    {
        let a =$("div.panelClass").first();
        a.show();
        a.prev('div').addClass('open');

    }

</script>

<script type="text/javascript">
    $(document).delegate('#button-checkout', 'click', function() {
        location = 'https://www.vaseasie.cz/checkout';
    });
</script>

<script type="text/javascript"><!--
// Sort the custom fields
$('#account .form-group[data-sort]').detach().each(function() {
    if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .form-group').length) {
        $('#account .form-group').eq($(this).attr('data-sort')).before(this);
    }

    if ($(this).attr('data-sort') > $('#account .form-group').length) {
        $('#account .form-group:last').after(this);
    }

    if ($(this).attr('data-sort') < -$('#account .form-group').length) {
        $('#account .form-group:first').before(this);
    }
});

$('#address .form-group[data-sort]').detach().each(function() {
    if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#address .form-group').length) {
        $('#address .form-group').eq($(this).attr('data-sort')).before(this);
    }

    if ($(this).attr('data-sort') > $('#address .form-group').length) {
        $('#address .form-group:last').after(this);
    }

    if ($(this).attr('data-sort') < -$('#address .form-group').length) {
        $('#address .form-group:first').before(this);
    }
});

$('input[name=\'customer_group_id\']').on('change', function() {
    $.ajax({
        url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value,
        dataType: 'json',
        success: function(json) {
            $('.custom-field').hide();
            $('.custom-field').removeClass('required');

            for (i = 0; i < json.length; i++) {
                custom_field = json[i];

                $('#custom-field' + custom_field['custom_field_id']).show();

                if (custom_field['required']) {
                    $('#custom-field' + custom_field['custom_field_id']).addClass('required');
                }
            }


        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$('input[name=\'customer_group_id\']:checked').trigger('change');
//--></script>

<script type="text/javascript"><!--
$('select[name=\'country_id\']').on('change', function() {
    $.ajax({
        url: 'index.php?route=account/account/country&country_id=' + this.value,
        dataType: 'json',
        beforeSend: function() {
            $('select[name=\'country_id\']').after(' <i class="fas fa-circle-o-notch fa-spin"></i>');
        },
        complete: function() {
            $('.fa-spin').remove();
        },
        success: function(json) {
            if (json['postcode_required'] == '1') {
                $('input[name=\'postcode\']').parent().parent().addClass('required');
            } else {
                $('input[name=\'postcode\']').parent().parent().removeClass('required');
            }

            html = '<option value=""> --- Please Select --- </option>';

            if (json['zone'] && json['zone'] != '') {
                for (i = 0; i < json['zone'].length; i++) {
                    html += '<option value="' + json['zone'][i]['zone_id'] + '"';

                    if (json['zone'][i]['zone_id'] == '<b>Notice</b>: Undefined variable: zone_id in <b>/home/asie/domains/vaseasie.cz/public_html/catalog/view/theme/default/template/account/register.tpl</b> on line <b>303</b>') {
                        html += ' selected="selected"';
                    }

                    html += '>' + json['zone'][i]['name'] + '</option>';
                }
            } else {
                html += '<option value="0" selected="selected"> --- None --- </option>';
            }

            $('select[name=\'zone_id\']').html(html);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$('select[name=\'country_id\']').trigger('change');

$('ul.list-inline li:lt(3)').remove();

//--></script>

</body>
</html>