<div id="container">
    <div class="container">
        <div id="content" class="<b>Notice</b>: Undefined variable: class in <b>/home/asie/domains/vaseasie.cz/public_html/catalog/view/theme/default/template/information/contact.tpl</b> on line <b>4</b>" style="box-shadow: 0 0px 0px 0px rgba(10, 16, 34, .4)">      <h1>Kontakt a podpora</h1>
            <!--h3>Our Location</h3-->
            <div class="row">
                <div class="col-md-4">
                    <div class="box-contact">
                        <div class="icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="ct">
                            <h3>Address</h3>
                            <p>
                            <address>
                                Hanoka s.r.o.<br />
                                IČO: 06593259.<br />
                                Olomoucká 61A, 627 00 Brno-Černovice.                                      </address>
                            </p>
                        </div>
                    </div>
                    <div class="box-contact">
                        <div class="icon">
                            <i class="fas fa-phone-alt"></i>
                        </div>
                        <div class="ct">
                            <h3>Telefoní kontakt</h3>
                            <p>
                                770.642.999 - 773.458.888              </p>
                        </div>
                    </div>
                    <div class="box-contact">
                        <div class="icon">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="ct">
                            <h3>Email</h3>
                            <p>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d2bbbcb4bd92a4b3a1b7b3a1bbb7fcb1a8">[email&#160;protected]</a>              </p>
                        </div>
                    </div>
                    <!--div class="row">
                                      <div class="col-sm-12"><strong>VašeAsie.cz - Asie až ke dveřím.</strong><br />

                      </div>
                      <div class="col-sm-12"><strong>Telefoní kontakt</strong><br>
                        770.642.999 - 773.458.888<br />
                        <br />
                                        </div>
                      <div class="col-sm-12">
                                                          </div>
                    </div-->


                </div>
                <div class="col-md-8">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <fieldset>
                            <h3>Popište s čím vám můžeme pomoct nebo poradit</h3>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-name">Jméno</label>
                                <div class="col-sm-10">
                                    <input type="text" name="name" value="" id="input-name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-email">E-mail</label>
                                <div class="col-sm-10">
                                    <input type="text" name="email" value="" id="input-email" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-enquiry">Enquiry</label>
                                <div class="col-sm-10">
                                    <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <div class="buttons">
                            <div class="pull-right">
                                <input class="btn btn-primary" type="submit" value="Pokračovat" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="lazy submit-restaurant">
    <div class="container">
        <!--div class="col-lg-5 col-md-6 wow">
          <div class="box_1">
            <h3>Are you a Restaurant Owner?</h3>
            <p>Join Us to increase your online visibility. You'll have access to even more customers who are looking to enjoy your tasty dishes at home.</p>
            <a class="btn_1" href="https://www.vaseasie.cz/restaurant/register" title="Đăng ký Nhà hàng">Đăng ký Nhà hàng</a>
          </div>
      </div-->
    </div>
</div>