<div id="container">
    <div class="container">
        <div class="row">
            <column id="column-left" class="col-sm-3 hidden-xs">
                <div id="navfx">
                    <ul class="menu-left">
                        <li class="active">
                            <a href="https://www.vaseasie.cz/info/privacy-policy-for-drivers-12.html">Privacy Policy for Drivers</a>
                        </li>
                        <li>
                            <a href="https://www.vaseasie.cz/info/obchodni-podminky-5.html">Obchodní podmínky</a>
                        </li>
                        <li>
                            <a href="https://www.vaseasie.cz/info/cookies-policy-9.html">Cookies policy</a>
                        </li>

                    </ul>
                </div>
            </column>
            <div id="content" class="col-sm-9">
                <div class="entry">
                    <h1>Privacy Policy for Drivers</h1>
                    <p>
                        <strong style="">Privacy Policy</strong>
                        <span style=""></span>
                    </p>
                    <p style="">David Nguyen built the Driver App app as a Free app. This SERVICE is provided by David Nguyen at no cost and is intended for use as is.</p>
                    <p style="">This page is used to inform visitors regarding my policies with the collection, use, and disclosure of Personal Information if anyone decided to use my Service.</p>
                    <p style="">If you choose to use my Service, then you agree to the collection and use of information in relation to this policy. The Personal Information that I collect is used for providing and improving the Service. I will not use or share your information with anyone except as described in this Privacy Policy.</p>
                    <p style="">The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at Driver App unless otherwise defined in this Privacy Policy.</p>
                    <div style="">
                        <p>The app does use third party services that may collect information used to identify you.</p>
                        <p>Link to privacy policy of third party service providers used by the app</p>
                        <ul>
                            <li><a href="/privacy.html" target="_blank" rel="noopener noreferrer">Google Play Services</a></li>
                        </ul>
                    </div>
                    <p style=""><strong>Location information</strong></p>
                    <p style="">For convenient use, we give food, and in order to enable some functions, we use your location for app. When we have location information, we use it to tailor our Services to you and others, such as helping you get orders for customers near your location ...</p>
                    <p style=""><strong>Changes to This Privacy Policy</strong></p>
                    <p style="">I may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. I will notify you of any changes by posting the new Privacy Policy on this page.</p>
                    <p style=""><strong>Contact Us</strong></p>
                    <p style="">If you have any questions or suggestions about my Privacy Policy, do not hesitate to contact me at <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="066267706f62286861737f636828657c46616b676f6a2865696b28">[email&#160;protected]</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="lazy submit-restaurant">
    <div class="container">
        <!--div class="col-lg-5 col-md-6 wow">
          <div class="box_1">
            <h3>Are you a Restaurant Owner?</h3>
            <p>Join Us to increase your online visibility. You'll have access to even more customers who are looking to enjoy your tasty dishes at home.</p>
            <a class="btn_1" href="https://www.vaseasie.cz/restaurant/register" title="Đăng ký Nhà hàng">Đăng ký Nhà hàng</a>
          </div>
      </div-->
    </div>
</div>