<div id="container">
    <div class="container">
        <div class="row">
            <div id="content" class="register-content-page">
                <div class="">
            <div class="account-access">
                <div id="exTab2" class="col-sm-12 col-xs-12">
                    <ul  class="nav nav-pills">
                        <li class="active">
                            <a href="vaseasie/build/register.html" >Vytvořit účet</a>
                        </li>
                        <li><a href="vaseasie/build/login.html" >Přihlášení</a>
                        </li>
                    </ul>
                    <!-- <div class="tab-content clearfix">
                      <div class="tab-pane active" id="1a">
                        <h3>Content's background color is the same for the tab</h3>
                      </div>
                      <div class="tab-pane" id="2a">
                        <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
                      </div>
                    </div> -->
                </div>


                <form action="vaseasie/build/register.html" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group required col-sm-6 col-xs-12" style="">
                        <!-- <label class="col-sm-2 control-label" for="input-firstname">Jméno příjmení</label> -->
                        <!-- <div class="form-group required"> -->
                        <input type="text" name="firstname" value="" placeholder="Jméno příjmení" id="input-firstname" class="form-control" />
                        <!-- </div> -->
                    </div>
                    <div class="form-group required col-sm-6 col-xs-12" style="">
                        <!--label class="col-sm-2 control-label" for="input-lastname">Telefonní kontakt</label-->
                        <div class="">
                            <input type="tel" name="telephone" value="" placeholder="Telefonní kontakt" id="input-telephone" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group required">
                        <!-- <label class="col-sm-2 control-label" for="input-email">E-Mail</label> -->
                        <div class="col-sm-12 col-xs-12">
                            <input type="email" name="email" value="" placeholder="E-Mail" id="input-email" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group required col-sm-6 col-xs-12" style="">
                        <!-- <label class="col-sm-2 control-label" for="input-password">Heslo</label> -->
                        <div class="">
                            <input type="password" name="password" value="" placeholder="Heslo" id="input-password" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group required col-sm-6 col-xs-12" style="">
                        <!-- <label class="col-sm-2 control-label" for="input-confirm">Potvrzení hesla</label> -->
                        <div class="">
                            <input type="password" name="confirm" value="" placeholder="Potvrzení hesla" id="input-confirm" class="form-control" />
                        </div>
                    </div>


                    <div class="buttons clearfix">
                        <div class="col-lg-12 col-xs-12 form-group">
                            <input type="submit" value="Registrovat" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
                <div class="social-login">
                    <div class="or">
                        <span>Pokračovat přes</span>
                    </div>
                    <div class="social-button">
                        <div class="facebook-login">
                            <a href="https://www.facebook.com/v2.2/dialog/oauth?client_id=655763012019290&state=73d14f3b8065264311599c2110853580&response_type=code&sdk=php-sdk-5.6.2&redirect_uri=https%3A%2F%2Fwww.vaseasie.cz%2Findex.php%3Froute%3Daccount%2Ffb&scope=email">
                                <svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 167.657 167.657" xml:space="preserve">
<g>
    <path d="M83.829,0.349C37.532,0.349,0,37.881,0,84.178c0,41.523,30.222,75.911,69.848,82.57v-65.081H49.626
		v-23.42h20.222V60.978c0-20.037,12.238-30.956,30.115-30.956c8.562,0,15.92,0.638,18.056,0.919v20.944l-12.399,0.006
		c-9.72,0-11.594,4.618-11.594,11.397v14.947h23.193l-3.025,23.42H94.026v65.653c41.476-5.048,73.631-40.312,73.631-83.154
		C167.657,37.881,130.125,0.349,83.829,0.349z"/>
</g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
</svg>
                                Facebook</a>

                        </div>
                        <div class="google-login">
                            <a href="https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=https%3A%2F%2Fwww.vaseasie.cz%2Findex.php%3Froute%3Daccount%2Fgoogle&client_id=31672065537-49aa2345pak4e8mr8pquekl1shno7c0a.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email&access_type=offline&approval_prompt=force">
                                <svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<path style="fill:#FBBB00;" d="M113.47,309.408L95.648,375.94l-65.139,1.378C11.042,341.211,0,299.9,0,256
	c0-42.451,10.324-82.483,28.624-117.732h0.014l57.992,10.632l25.404,57.644c-5.317,15.501-8.215,32.141-8.215,49.456
	C103.821,274.792,107.225,292.797,113.47,309.408z"/>
                                    <path style="fill:#518EF8;" d="M507.527,208.176C510.467,223.662,512,239.655,512,256c0,18.328-1.927,36.206-5.598,53.451
	c-12.462,58.683-45.025,109.925-90.134,146.187l-0.014-0.014l-73.044-3.727l-10.338-64.535
	c29.932-17.554,53.324-45.025,65.646-77.911h-136.89V208.176h138.887L507.527,208.176L507.527,208.176z"/>
                                    <path style="fill:#28B446;" d="M416.253,455.624l0.014,0.014C372.396,490.901,316.666,512,256,512
	c-97.491,0-182.252-54.491-225.491-134.681l82.961-67.91c21.619,57.698,77.278,98.771,142.53,98.771
	c28.047,0,54.323-7.582,76.87-20.818L416.253,455.624z"/>
                                    <path style="fill:#F14336;" d="M419.404,58.936l-82.933,67.896c-23.335-14.586-50.919-23.012-80.471-23.012
	c-66.729,0-123.429,42.957-143.965,102.724l-83.397-68.276h-0.014C71.23,56.123,157.06,0,256,0
	C318.115,0,375.068,22.126,419.404,58.936z"/>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
                                    <g>
                            </g>
</svg>
                                Google</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>
<div class="lazy submit-restaurant">
    <div class="container">
        <!--div class="col-lg-5 col-md-6 wow">
          <div class="box_1">
            <h3>Are you a Restaurant Owner?</h3>
            <p>Join Us to increase your online visibility. You'll have access to even more customers who are looking to enjoy your tasty dishes at home.</p>
            <a class="btn_1" href="https://www.vaseasie.cz/restaurant/register" title="Đăng ký Nhà hàng">Đăng ký Nhà hàng</a>
          </div>
      </div-->
    </div>
</div>